h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: deeppink;
    text-align: center;
}
#placeholder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}