h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}
#placeholder{
    float: left;
    padding-right: 20px;
}
.bio{
    float: left;
    width: 50%;
}
div{
    float: left;
    padding-left: 20px;
}